version: '3.9'

services:
  app:
    build:
      context: .
      target: server
    environment:
      PORT: 3001
      CLIENT_ORIGIN: http://prooveeksamen
    ports:
      - "3001:3001"

  nginx:
    build:
      context: .
      target: nginx
    depends_on:
      - app
    ports:
      - "80:80"